
@{
    ViewData["Title"] = "OtherproductCurrentStock";
}


<h1>Current Stock</h1>  
<ul>
    <li>
        <p>totalload =  @ViewData["TotalLoad"]</p>
    </li>
    <li>
        <p>totalsales = @ViewData["TotalSale"]</p>
    </li>
    <li>
        <p>total = @ViewData["Total"]</p>
    </li>
</ul>

