
@{
    ViewData["Title"] = "OtherproductstartStock";
}

<h1>Opening Stock</h1>
<ul>
    <li>
        <p>totalload =  @ViewData["TotalLoad"]</p>
    </li>
    <li>
        <p>totalsale = @ViewData["TotalSale"]</p>
    </li>
    <li>
        <p>total = @ViewData["Total"]</p>
    </li>
</ul>

