
@{
    ViewData["Title"] = "StartStock";
}

<h1>Opening Stock</h1>
<ul>
    <li>
        <p>totalFull =  @ViewData["full"]</p>
    </li>
    <li>
        <p>totalEmpty = @ViewData["Empty"]</p>
    </li>
    <li>
        <p>totalcylinder = @ViewData["Cylinder"]</p>
    </li>
</ul>